
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
h1{
    color:black;
    font-size: 42px;
}
.landing-image{

}
.card{
  padding: 0px 24px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 5px 0px;
  margin: 1rem;
  display: flex;
    width: calc(14.33% - 16px);
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 5px 0px;
    cursor: pointer;
    flex-direction: column;
    text-align: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin: 8px;
    border-radius: 5px;
    padding: 0px 32px;
    transition: all 0.2s ease-in 0s;
}
.card:hover{
  box-shadow: rgba(5, 160, 206, 0.15) 0px 20px 60px 0px;

}
.search-area{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 0 10rem 0 10rem;
}
.search-input{
  font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    width: 30%;
    padding-left: 32px;
    transition: all 0.2s ease-in 0s;
    outline: none;
    border-radius: 25px;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    padding: 0.5rem;
    border: 1px solid grey;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    align-self: center;
    text-align: start;
}
.search-input:focus{
  border: 1px solid grey;

}
.search-tag-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
  align-content: center;
  justify-items:center;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 130px 0px 90px;
}
.footer-icon{
color:lightblue;
}
p{
  font-size: 12px!important;
    color:rgb(72, 72, 72);
}
.x{
  background-image:url(../images/bgsvg.svg);
  background-repeat: repeat;
  background-size: cover;
  height: 160vh;
  flex-direction: column;
  background-position: center;
}
.y{
  background-image:url(../images/footer.svg);
  background-repeat: repeat;
  background-size: cover;
  flex-direction: column;
}
.grid-container{
  display: flex;
      flex-direction: row;
      margin-top: 66px;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      max-width: 1080px;
    width: 100%;
    text-align: center;
    height: 80vh;
    position: relative;
    margin: 0px auto;
    padding: 0px 24px;
    background-repeat: round;
      background-size: cover;
}
.landing-about{
  display: flex;
  flex: 1 1 0%;
  padding: 24px;
}
.container{
    background-position:center;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-image:url(../images/bgsvg.svg);
    align-items: center;
    background-size: cover;
    background-position: right;
}
.landing-right{
  display: flex;
  flex: 1 1 0%;
  padding: 24px;
  flex-direction: column;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form{
    background: white;
    padding:1.2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(5, 160, 206, 0.15) 0px 20px 60px 0px;
    height: auto;
    width: 30vw;
    border-radius: 25px;
    }
.form:hover{
    transform: scale(1.01);
}
.button{
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    color:white;
    background-size: center;
    border: none;
    height: 50px;
    width: 200px;
    border-radius:5px;
    background-position:center;
    width: 100px;
    margin: 0 auto;
    transition: all 1s ease-in-out;

}
.button:hover{
    transform: scale(1.05);
    box-shadow: rgba(5, 160, 206, 0.15) 0px 20px 60px 0px;
    cursor: pointer;
}
.registrate{
    font-size: 12px;
    text-decoration: none;
    color:rgb(52, 194, 235);
}
input{
    border: none;
    width: 100%;
    font-size: small;
    border-bottom: 1px solid rgb(52, 194, 235);
}
input:focus{
    border-bottom: 1px solid rgb(52, 194, 235);
    outline: none;
    transform: scale(1.1);
}
.fas{
color:white;
background-clip: text;
-webkit-background-clip: text;
}
nav{
    display: flex;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
    z-index: 444;
}
nav li{
    text-decoration: none;
    list-style-type: none;
    font-size: 14px;
    padding: 0.5rem;
    background-image: linear-gradient(105deg, rgb(52, 194, 235), rgb(26, 127, 195));
    border-radius: 25px;
    margin: 0rem 1rem 0rem 1rem;
    padding: 0.5rem;
}

nav li:hover{
    cursor: pointer;
}
footer{
    height: 10vh;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    font-size: 12px;
}
nav li a{
    text-decoration: none;
    color: white;
    transition: 0.5s all ease;
    padding: 0.5rem;
}
nav li a:hover{
    transform: scale(1.5);
}
.errorMessage{
    font-size: 12px;
    color: #FF2525;
}
section{
    background-color: #fff;
    padding: 1rem;
    border-radius: 15px;
    box-shadow:rgba(5, 160, 206, 0.15) 0px 20px 60px 0px;
    margin: 1rem;
}
.text{
    display: grid;
    padding: 3rem;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../images/footer2.svg);
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    flex-direction: column;
}
.cta{
    padding: 1rem;
    background-image: linear-gradient(105deg, rgb(52, 194, 235), rgb(26, 127, 195));    border-radius: 25px;
    text-decoration: none;
    color:white;
    transition: all 0.2s ease-in-out;
}
.cta:hover{
    box-shadow: rgba(5, 160, 206, 0.15) 0px 20px 60px 0px;
    cursor: pointer;
    transform: scale(1.05);
}
.profile-card{
    background-color: white;
    padding: 1rem;
    box-shadow: rgba(5, 160, 206, 0.15) 0px 20px 60px 0px;
    border-radius: 25px;
    text-align: center;
    width: 50%;
    height: 50%;
}
